flows.json
[{"id":"cfb92eb0.46fcf","type":"tab","label":"Water Potted Plants","disabled":false,"info":""},{"id":"6de8523a.69217c","type":"tab","label":"Water Garden","disabled":false,"info":""},{"id":"70785444.fe13fc","type":"tab","label":"Cooling","disabled":false,"info":""},{"id":"1856a90e.a14b57","type":"tab","label":"Patio Lights","disabled":false,"info":""},{"id":"59c36886.c203d8","type":"tab","label":"New Potted Plants","disabled":true,"info":""},{"id":"fb6312c0.8350e","type":"tab","label":"New Watering Garden","disabled":true,"info":""},{"id":"4b116a75.ddd814","type":"subflow","name":"Duty Cycle Logic","info":"","in":[{"x":100,"y":40,"wires":[{"id":"455f7c8a.4a8d24"}]}],"out":[{"x":780,"y":40,"wires":[{"id":"455f7c8a.4a8d24","port":0}]},{"x":980,"y":120,"wires":[{"id":"8612d35b.fedf8","port":0}]},{"x":1380,"y":240,"wires":[{"id":"bfe3aea4.efc29","port":0}]},{"x":1220,"y":360,"wires":[{"id":"50810f63.9fa1e","port":0}]}]},{"id":"d4d43748.10acd8","type":"subflow","name":"Watering","info":"","in":[{"x":240,"y":500,"wires":[{"id":"22a74263.41e16e"}]}],"out":[{"x":1080,"y":280,"wires":[{"id":"22a74263.41e16e","port":0}]},{"x":1080,"y":160,"wires":[{"id":"6766c983.a8f018","port":0},{"id":"22a74263.41e16e","port":0},{"id":"f408e2d4.94fb1","port":0},{"id":"8c26e3d9.88799","port":0}]}]},{"id":"9ed5edf2.e5f5b","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"581ee8f72eec4a918dc758d92ab57c04"},{"id":"a0aca42b.a92df8","type":"inject","z":"cfb92eb0.46fcf","name":"Watering Event","topic":"schedule","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":200,"y":80,"wires":[["39001018.0cd22"]]},{"id":"ac615e73.894e8","type":"api-call-service","z":"cfb92eb0.46fcf","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":910,"y":380,"wires":[[]]},{"id":"e4e6220.9d86be","type":"delay","z":"cfb92eb0.46fcf","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":560,"wires":[["2216f2cc.6de56e","2fba8bb5.d32c64"]]},{"id":"2fba8bb5.d32c64","type":"api-call-service","z":"cfb92eb0.46fcf","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":1050,"y":580,"wires":[[]]},{"id":"2216f2cc.6de56e","type":"debug","z":"cfb92eb0.46fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":480,"wires":[]},{"id":"26bf9af1.a76686","type":"api-current-state","z":"cfb92eb0.46fcf","name":"Precipitation","server":"9ed5edf2.e5f5b","halt_if":"","entity_id":"sensor.dark_sky_precip_probability","x":250,"y":300,"wires":[["e679ece9.57583"]]},{"id":"e679ece9.57583","type":"switch","z":"cfb92eb0.46fcf","name":"Is it raining?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":300,"wires":[[],["ab6540b5.ab6b4"]]},{"id":"ab6540b5.ab6b4","type":"api-current-state","z":"cfb92eb0.46fcf","name":"Total Rainfall","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"sensor.dark_sky_daily_max_precip_intensity","x":250,"y":480,"wires":[["6771f088.b320b"]]},{"id":"6771f088.b320b","type":"switch","z":"cfb92eb0.46fcf","name":"Rain less than 0.1?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":".1","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":480,"wires":[["2216f2cc.6de56e","e4e6220.9d86be","ac615e73.894e8"],[]]},{"id":"a308bb2b.42ba18","type":"inject","z":"6de8523a.69217c","name":"Watering Event 5 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["156d0a24.de1a16"]]},{"id":"353a5eda.5a0f32","type":"api-call-service","z":"6de8523a.69217c","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.garden_manual_watering\"}","mergecontext":"","x":1030,"y":580,"wires":[[]]},{"id":"fc69722d.95a6d","type":"delay","z":"6de8523a.69217c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":660,"wires":[["e4401cc9.871bc","b95b2fe5.23ff6"]]},{"id":"b95b2fe5.23ff6","type":"api-call-service","z":"6de8523a.69217c","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.garden_manual_watering\"}","mergecontext":"","x":1030,"y":660,"wires":[[]]},{"id":"e4401cc9.871bc","type":"debug","z":"6de8523a.69217c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":440,"wires":[]},{"id":"eb36c478.730388","type":"api-current-state","z":"6de8523a.69217c","name":"Precipitation","server":"9ed5edf2.e5f5b","halt_if":"","entity_id":"sensor.dark_sky_precip_probability","x":950,"y":160,"wires":[["e4de79c3.2f9188"]]},{"id":"e4de79c3.2f9188","type":"switch","z":"6de8523a.69217c","name":"Is it raining?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":340,"wires":[[],["29137f68.383eb"]]},{"id":"29137f68.383eb","type":"api-current-state","z":"6de8523a.69217c","name":"Total Rainfall","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"sensor.dark_sky_daily_max_precip_intensity","x":210,"y":440,"wires":[["37ad85f1.84aefa"]]},{"id":"37ad85f1.84aefa","type":"switch","z":"6de8523a.69217c","name":"How much is it raining?","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":".1","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":440,"wires":[["e4401cc9.871bc","fc69722d.95a6d","353a5eda.5a0f32"],[]]},{"id":"5d71b377.07da4c","type":"inject","z":"6de8523a.69217c","name":"Watering Event 11 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["156d0a24.de1a16"]]},{"id":"7ba44abc.484e64","type":"inject","z":"6de8523a.69217c","name":"Watering Event 5 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["156d0a24.de1a16"]]},{"id":"89e9b3f7.3c452","type":"inject","z":"6de8523a.69217c","name":"Watering Event 11 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["156d0a24.de1a16"]]},{"id":"156d0a24.de1a16","type":"api-current-state","z":"6de8523a.69217c","name":"Water Garden Input","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"input_boolean.water_garden","x":470,"y":140,"wires":[["42a83bd8.cd3ec4","e4401cc9.871bc"]]},{"id":"42a83bd8.cd3ec4","type":"switch","z":"6de8523a.69217c","name":"Is Enabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":140,"wires":[["eb36c478.730388"],[]]},{"id":"39001018.0cd22","type":"api-current-state","z":"cfb92eb0.46fcf","name":"Water Herbs Input","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.water_herbs","x":270,"y":180,"wires":[["d3053f90.76355","2216f2cc.6de56e"]]},{"id":"d3053f90.76355","type":"switch","z":"cfb92eb0.46fcf","name":"Is Enabled?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":180,"wires":[["26bf9af1.a76686"],[]]},{"id":"b325017c.a9ad6","type":"api-current-state","z":"4b116a75.ddd814","name":"Temperature","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"sensor.dark_sky_apparent_temperature","x":370,"y":300,"wires":[["d5040449.fbe188","88122ca9.46e9a"]]},{"id":"88122ca9.46e9a","type":"function","z":"4b116a75.ddd814","name":"Duty Cycle","func":"temperature = parseFloat(msg.payload, 10)\nperiod = parseFloat(msg.period, 10) * 60\nperiod_milli = period * 1000\nnode.warn(\"temperature \" + temperature)\nnode.warn(\"period \" + period)\n//sigmoid = 1.0 / (1.0 + Math.exp(-temperature * 0.2))\nMaxDuty = period\nBaseTemp = 100\nB = 0.2\nMinPeriod = 10.0\nGenLog = (temperature) =>  Math.round(MinPeriod + ((MaxDuty - MinPeriod) / (1 + Math.exp(-B*(temperature-BaseTemp)))))\nnode.warn(\"GenLog \" + GenLog(temperature))\n\ndutyCycle = Math.max(GenLog(temperature), 0.0)\ndelay = Math.round(dutyCycle * 1000)\nnode.warn(\"duty cycle \" + dutyCycle)\nnode.warn(\"delay cycle \" + delay)\n\nmsg.delay = delay.toString()\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["50810f63.9fa1e","7d3aef88.22846"]]},{"id":"50810f63.9fa1e","type":"delay","z":"4b116a75.ddd814","name":"Delay for Duty Cycle","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":360,"wires":[[]]},{"id":"93710ff7.05e4b","type":"api-call-service","z":"70785444.fe13fc","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.patio_mister_manual_watering\"}","mergecontext":"","x":690,"y":380,"wires":[[]]},{"id":"8155e8ba.63dec8","type":"api-call-service","z":"70785444.fe13fc","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.patio_mister_manual_watering\"}","mergecontext":"","x":710,"y":300,"wires":[[]]},{"id":"bec6d51f.3e22d8","type":"api-current-state","z":"4b116a75.ddd814","name":"Misting Period","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":false,"entity_id":"input_number.mister_period","x":140,"y":200,"wires":[["bc6f2cb3.07a0e"]]},{"id":"bfe3aea4.efc29","type":"delay","z":"4b116a75.ddd814","name":"Repeat After Period","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":240,"wires":[[]]},{"id":"d5040449.fbe188","type":"function","z":"4b116a75.ddd814","name":"Duty Period","func":"period = parseFloat(msg.period, 10) * 60\nperiod_milli = period * 1000\nmsg.delay = period_milli.toString()\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["bfe3aea4.efc29"]]},{"id":"e0bc45a2.9aa3f8","type":"api-current-state","z":"70785444.fe13fc","name":"Mister State","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"input_boolean.cool_patio","x":330,"y":200,"wires":[["260872bd.98c79e"]]},{"id":"455f7c8a.4a8d24","type":"switch","z":"4b116a75.ddd814","name":"Is Enabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":40,"wires":[["bec6d51f.3e22d8"],["8612d35b.fedf8"]]},{"id":"e1cb880c.ebf1b8","type":"server-state-changed","z":"70785444.fe13fc","name":"Patio Cooling Enabled","server":"9ed5edf2.e5f5b","entityidfilter":"input_boolean.cool_patio","entityidfiltertype":"substring","haltifstate":"","x":180,"y":120,"wires":[["e0bc45a2.9aa3f8"]]},{"id":"bc6f2cb3.07a0e","type":"change","z":"4b116a75.ddd814","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"period","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":300,"wires":[["b325017c.a9ad6"]]},{"id":"7d3aef88.22846","type":"function","z":"4b116a75.ddd814","name":"Update Duty Slider","func":"var delay = parseFloat(msg.delay, 10) / 1000\nvar newMsg =  {\n        payload: {\"data\":{\"entity_id\": \"input_number.mister_duty_cycle\", \"value\": delay}}\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":590,"y":520,"wires":[["aaf469fc.ebede8"]]},{"id":"8612d35b.fedf8","type":"change","z":"4b116a75.ddd814","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":120,"wires":[["bfe3aea4.efc29","50810f63.9fa1e"]]},{"id":"260872bd.98c79e","type":"subflow:4b116a75.ddd814","z":"70785444.fe13fc","name":"Patio Duty Cycle","x":310,"y":340,"wires":[["8155e8ba.63dec8"],["93710ff7.05e4b"],["e0bc45a2.9aa3f8"],["93710ff7.05e4b"]]},{"id":"3a0ac79f.baeba8","type":"api-call-service","z":"70785444.fe13fc","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":710,"y":840,"wires":[[]]},{"id":"e359ef17.b7799","type":"api-call-service","z":"70785444.fe13fc","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":710,"y":740,"wires":[[]]},{"id":"1962c49.50e8c3b","type":"api-current-state","z":"70785444.fe13fc","name":"Mister State","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.cool_deck","x":330,"y":640,"wires":[["71e2afe3.03263"]]},{"id":"85c7a526.350448","type":"server-state-changed","z":"70785444.fe13fc","name":"Deck Cooling Enabled","server":"9ed5edf2.e5f5b","entityidfilter":"input_boolean.cool_deck","entityidfiltertype":"substring","haltifstate":"","x":180,"y":560,"wires":[["1962c49.50e8c3b"]]},{"id":"71e2afe3.03263","type":"subflow:4b116a75.ddd814","z":"70785444.fe13fc","name":"Deck Duty Cycle","x":310,"y":780,"wires":[["e359ef17.b7799"],["3a0ac79f.baeba8"],["1962c49.50e8c3b"],["3a0ac79f.baeba8"]]},{"id":"aaf469fc.ebede8","type":"api-call-service","z":"4b116a75.ddd814","name":"Set Duty Cycle","server":"9ed5edf2.e5f5b","service_domain":"input_number","service":"set_value","data":"","mergecontext":"","x":860,"y":520,"wires":[[]]},{"id":"39f18bd4.9ff344","type":"api-current-state","z":"d4d43748.10acd8","name":"Rain Intensity","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":false,"override_payload":true,"entity_id":"sensor.dark_sky_precip_intensity","x":480,"y":80,"wires":[["b8781b93.7c2cd8"]]},{"id":"6766c983.a8f018","type":"smooth","z":"d4d43748.10acd8","name":"","property":"payload","action":"mean","count":"60","round":"","mult":"single","x":880,"y":80,"wires":[["9d83b0b4.909e1"]]},{"id":"b8781b93.7c2cd8","type":"json","z":"d4d43748.10acd8","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":80,"wires":[["6766c983.a8f018"]]},{"id":"68d9fcd5.251194","type":"delay","z":"59c36886.c203d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":240,"wires":[[]]},{"id":"9d83b0b4.909e1","type":"switch","z":"d4d43748.10acd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0.1","vt":"num"},{"t":"gte","v":"0.1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":300,"wires":[["f408e2d4.94fb1"],["8c26e3d9.88799"]]},{"id":"8c26e3d9.88799","type":"change","z":"d4d43748.10acd8","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["22a74263.41e16e"]]},{"id":"f408e2d4.94fb1","type":"change","z":"d4d43748.10acd8","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["22a74263.41e16e"]]},{"id":"3341def0.eaf862","type":"inject","z":"59c36886.c203d8","name":"Watering Timer","topic":"schedule","payload":"","payloadType":"date","repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"x":280,"y":120,"wires":[["271775d2.b5572a"]]},{"id":"59af2de.b84b5d4","type":"catch","z":"cfb92eb0.46fcf","name":"","scope":["2fba8bb5.d32c64"],"x":350,"y":620,"wires":[["43ff8c15.d04634"]]},{"id":"43ff8c15.d04634","type":"delay","z":"cfb92eb0.46fcf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":620,"wires":[["2fba8bb5.d32c64"]]},{"id":"1e010884.75fcd7","type":"catch","z":"6de8523a.69217c","name":"","scope":["b95b2fe5.23ff6"],"x":490,"y":760,"wires":[["e0b469e2.9f1908"]]},{"id":"e0b469e2.9f1908","type":"delay","z":"6de8523a.69217c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":760,"wires":[["b95b2fe5.23ff6"]]},{"id":"22a74263.41e16e","type":"traffic","z":"d4d43748.10acd8","name":"Weather Condition Enabled?","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":820,"y":340,"wires":[[]]},{"id":"271775d2.b5572a","type":"subflow:d4d43748.10acd8","z":"59c36886.c203d8","name":"","x":500,"y":120,"wires":[["68d9fcd5.251194","bf5f8775.d97aa8"],["d36ac5cc.6a04b8"]]},{"id":"cecf8196.9edc","type":"inject","z":"d4d43748.10acd8","name":"Rain Monitor","topic":"monitor","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"2.0","x":260,"y":80,"wires":[["39f18bd4.9ff344"]]},{"id":"ff45d8f1.2c90f8","type":"api-call-service","z":"59c36886.c203d8","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":770,"y":120,"wires":[["bf5f8775.d97aa8"]]},{"id":"e0838504.3278b8","type":"api-call-service","z":"59c36886.c203d8","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":870,"y":240,"wires":[["bf5f8775.d97aa8"]]},{"id":"8166636a.1a6f7","type":"delay","z":"59c36886.c203d8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":340,"wires":[["e0838504.3278b8"]]},{"id":"61da63fc.168a9c","type":"catch","z":"59c36886.c203d8","name":"","scope":["2fba8bb5.d32c64"],"x":250,"y":340,"wires":[["8166636a.1a6f7","19995b17.952dc5"]]},{"id":"bf5f8775.d97aa8","type":"debug","z":"59c36886.c203d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":180,"wires":[]},{"id":"df7709e.b6010f8","type":"catch","z":"fb6312c0.8350e","name":"Catch Turn Off Failure","scope":["aba2807d.98faa"],"x":800,"y":300,"wires":[["fca7782c.8559c8","2d0e0b0b.233054"]]},{"id":"fca7782c.8559c8","type":"delay","z":"fb6312c0.8350e","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":300,"wires":[["aba2807d.98faa"]]},{"id":"aba2807d.98faa","type":"api-call-service","z":"fb6312c0.8350e","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.garden_manual_watering\"}","mergecontext":"","x":1290,"y":220,"wires":[[]]},{"id":"c0f6b91b.0012a8","type":"api-call-service","z":"fb6312c0.8350e","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.garden_manual_watering\"}","mergecontext":"","x":1290,"y":80,"wires":[[]]},{"id":"cb6dc0d.6ad754","type":"inject","z":"fb6312c0.8350e","name":"Watering Event 5 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["ddb4c0e0.c8cd4"]]},{"id":"ba49b0db.d4e8e","type":"inject","z":"fb6312c0.8350e","name":"Watering Event 11 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["ddb4c0e0.c8cd4"]]},{"id":"9ad9240e.1729f8","type":"inject","z":"fb6312c0.8350e","name":"Watering Event 5 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["ddb4c0e0.c8cd4"]]},{"id":"8825368e.09fdb8","type":"inject","z":"fb6312c0.8350e","name":"Watering Event 11 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["ddb4c0e0.c8cd4"]]},{"id":"ddb4c0e0.c8cd4","type":"api-current-state","z":"fb6312c0.8350e","name":"Water Garden Input","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"input_boolean.water_garden","x":470,"y":140,"wires":[["93a22a68.af73e8"]]},{"id":"7e5488b3.8452f8","type":"delay","z":"fb6312c0.8350e","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":220,"wires":[["aba2807d.98faa"]]},{"id":"93a22a68.af73e8","type":"switch","z":"fb6312c0.8350e","name":"Is Enabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":140,"wires":[["d7247cf9.41656"]]},{"id":"d7247cf9.41656","type":"subflow:d4d43748.10acd8","z":"fb6312c0.8350e","name":"","x":900,"y":140,"wires":[["c0f6b91b.0012a8","7e5488b3.8452f8"],[]]},{"id":"2d0e0b0b.233054","type":"api-call-service","z":"fb6312c0.8350e","name":"Notify Of Failure","server":"9ed5edf2.e5f5b","service_domain":"notify","service":"ios_devins_iphone","data":"{\"title\": \"Watering Failure\", \"message\": \"Failed to turn of Garden!\"}","mergecontext":"","x":1040,"y":420,"wires":[[]]},{"id":"79b34445.5d3cec","type":"inject","z":"fb6312c0.8350e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":460,"wires":[["2d0e0b0b.233054"]]},{"id":"19995b17.952dc5","type":"api-call-service","z":"59c36886.c203d8","name":"Notify Of Failure","server":"9ed5edf2.e5f5b","service_domain":"notify","service":"ios_devins_iphone","data":"{\"title\": \"Watering Failure\", \"message\": \"Failed to turn of Potted Plants Watering!\"}","mergecontext":"","x":620,"y":420,"wires":[[]]},{"id":"642ecacd.a60a04","type":"inject","z":"59c36886.c203d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":480,"wires":[["19995b17.952dc5"]]},{"id":"d36ac5cc.6a04b8","type":"debug","z":"59c36886.c203d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":220,"wires":[]}]