flows.json
[{"id":"cfb92eb0.46fcf","type":"tab","label":"Water Potted Plants","disabled":false,"info":""},{"id":"6de8523a.69217c","type":"tab","label":"Water Garden","disabled":false,"info":""},{"id":"70785444.fe13fc","type":"tab","label":"Cooling","disabled":false,"info":""},{"id":"1856a90e.a14b57","type":"tab","label":"Patio Lights","disabled":false,"info":""},{"id":"2e5b6856.09a798","type":"tab","label":"Ramp Lights","disabled":false,"info":""},{"id":"4b116a75.ddd814","type":"subflow","name":"Duty Cycle Logic","info":"","in":[{"x":100,"y":40,"wires":[{"id":"455f7c8a.4a8d24"}]}],"out":[{"x":780,"y":40,"wires":[{"id":"455f7c8a.4a8d24","port":0}]},{"x":980,"y":120,"wires":[{"id":"8612d35b.fedf8","port":0}]},{"x":1380,"y":240,"wires":[{"id":"bfe3aea4.efc29","port":0}]},{"x":1220,"y":360,"wires":[{"id":"50810f63.9fa1e","port":0}]}]},{"id":"d4d43748.10acd8","type":"subflow","name":"Watering","info":"","in":[{"x":240,"y":500,"wires":[{"id":"22a74263.41e16e"}]}],"out":[{"x":1080,"y":280,"wires":[{"id":"22a74263.41e16e","port":0}]},{"x":1080,"y":160,"wires":[{"id":"6766c983.a8f018","port":0},{"id":"22a74263.41e16e","port":0},{"id":"f408e2d4.94fb1","port":0},{"id":"8c26e3d9.88799","port":0}]}]},{"id":"9ed5edf2.e5f5b","type":"server","z":"","name":"Home Assistant","url":"http://hassio/homeassistant","pass":"581ee8f72eec4a918dc758d92ab57c04"},{"id":"ac615e73.894e8","type":"api-call-service","z":"cfb92eb0.46fcf","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":1010,"y":140,"wires":[[]]},{"id":"e4e6220.9d86be","type":"delay","z":"cfb92eb0.46fcf","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":300,"wires":[["2fba8bb5.d32c64"]]},{"id":"2fba8bb5.d32c64","type":"api-call-service","z":"cfb92eb0.46fcf","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":1050,"y":300,"wires":[[]]},{"id":"ab6540b5.ab6b4","type":"api-current-state","z":"cfb92eb0.46fcf","name":"Total Rainfall","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.precipitation_1_hour_stats_mean","x":250,"y":320,"wires":[["6771f088.b320b","882955e2.068008"]]},{"id":"6771f088.b320b","type":"switch","z":"cfb92eb0.46fcf","name":"Rain less than 0.1?","property":"data.attributes.total","propertyType":"msg","rules":[{"t":"lt","v":"0.1","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":320,"wires":[["e4e6220.9d86be","ac615e73.894e8","5c4942ef.3a500c"],["b1ec864a.91cb78"]]},{"id":"a308bb2b.42ba18","type":"inject","z":"6de8523a.69217c","name":"Watering Event 5 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 05 * * *","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["156d0a24.de1a16"]]},{"id":"353a5eda.5a0f32","type":"api-call-service","z":"6de8523a.69217c","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.garden_manual_watering\"}","mergecontext":"","x":1030,"y":140,"wires":[[]]},{"id":"fc69722d.95a6d","type":"delay","z":"6de8523a.69217c","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":360,"wires":[["e4401cc9.871bc","b95b2fe5.23ff6"]]},{"id":"b95b2fe5.23ff6","type":"api-call-service","z":"6de8523a.69217c","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.garden_manual_watering\"}","mergecontext":"","x":1190,"y":360,"wires":[[]]},{"id":"e4401cc9.871bc","type":"debug","z":"6de8523a.69217c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":260,"wires":[]},{"id":"29137f68.383eb","type":"api-current-state","z":"6de8523a.69217c","name":"Total Rainfall","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"sensor.precipitation_6_hour_stats_mean","x":470,"y":260,"wires":[["37ad85f1.84aefa"]]},{"id":"37ad85f1.84aefa","type":"switch","z":"6de8523a.69217c","name":"How much is it raining?","property":"data.attributes.total","propertyType":"msg","rules":[{"t":"lt","v":".2","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":690,"y":260,"wires":[["e4401cc9.871bc","fc69722d.95a6d","353a5eda.5a0f32","fb63b9d0.1c5f18"],["54066fd.ed9159"]]},{"id":"5d71b377.07da4c","type":"inject","z":"6de8523a.69217c","name":"Watering Event 11 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 11 * * *","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["156d0a24.de1a16"]]},{"id":"7ba44abc.484e64","type":"inject","z":"6de8523a.69217c","name":"Watering Event 5 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 17 * * *","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["156d0a24.de1a16"]]},{"id":"89e9b3f7.3c452","type":"inject","z":"6de8523a.69217c","name":"Watering Event 11 pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * *","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["156d0a24.de1a16"]]},{"id":"156d0a24.de1a16","type":"api-current-state","z":"6de8523a.69217c","name":"Water Garden Input","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"input_boolean.water_garden","x":470,"y":140,"wires":[["42a83bd8.cd3ec4","e4401cc9.871bc"]]},{"id":"42a83bd8.cd3ec4","type":"switch","z":"6de8523a.69217c","name":"Is Enabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":140,"wires":[["29137f68.383eb"],[]]},{"id":"39001018.0cd22","type":"api-current-state","z":"cfb92eb0.46fcf","name":"Water Herbs Input","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.water_herbs","x":390,"y":100,"wires":[["d3053f90.76355"]]},{"id":"d3053f90.76355","type":"switch","z":"cfb92eb0.46fcf","name":"Is Enabled?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":180,"wires":[["ab6540b5.ab6b4"],[]]},{"id":"b325017c.a9ad6","type":"api-current-state","z":"4b116a75.ddd814","name":"Temperature","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"sensor.dark_sky_apparent_temperature","x":370,"y":300,"wires":[["d5040449.fbe188","88122ca9.46e9a"]]},{"id":"88122ca9.46e9a","type":"function","z":"4b116a75.ddd814","name":"Duty Cycle","func":"temperature = parseFloat(msg.payload, 10)\nperiod = parseFloat(msg.period, 10) * 60\nperiod_milli = period * 1000\nnode.warn(\"temperature \" + temperature)\nnode.warn(\"period \" + period)\n//sigmoid = 1.0 / (1.0 + Math.exp(-temperature * 0.2))\nMaxDuty = period\nBaseTemp = 100\nB = 0.2\nMinPeriod = 10.0\nGenLog = (temperature) =>  Math.round(MinPeriod + ((MaxDuty - MinPeriod) / (1 + Math.exp(-B*(temperature-BaseTemp)))))\nnode.warn(\"GenLog \" + GenLog(temperature))\n\ndutyCycle = Math.max(GenLog(temperature), 0.0)\ndelay = Math.round(dutyCycle * 1000)\nnode.warn(\"duty cycle \" + dutyCycle)\nnode.warn(\"delay cycle \" + delay)\n\nmsg.delay = delay.toString()\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["50810f63.9fa1e","7d3aef88.22846"]]},{"id":"50810f63.9fa1e","type":"delay","z":"4b116a75.ddd814","name":"Delay for Duty Cycle","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":360,"wires":[[]]},{"id":"93710ff7.05e4b","type":"api-call-service","z":"70785444.fe13fc","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.patio_mister_manual_watering\"}","mergecontext":"","x":690,"y":380,"wires":[[]]},{"id":"8155e8ba.63dec8","type":"api-call-service","z":"70785444.fe13fc","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.patio_mister_manual_watering\"}","mergecontext":"","x":710,"y":300,"wires":[[]]},{"id":"bec6d51f.3e22d8","type":"api-current-state","z":"4b116a75.ddd814","name":"Misting Period","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":false,"entity_id":"input_number.mister_period","x":140,"y":200,"wires":[["bc6f2cb3.07a0e"]]},{"id":"bfe3aea4.efc29","type":"delay","z":"4b116a75.ddd814","name":"Repeat After Period","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":240,"wires":[[]]},{"id":"d5040449.fbe188","type":"function","z":"4b116a75.ddd814","name":"Duty Period","func":"period = parseFloat(msg.period, 10) * 60\nperiod_milli = period * 1000\nmsg.delay = period_milli.toString()\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":240,"wires":[["bfe3aea4.efc29"]]},{"id":"e0bc45a2.9aa3f8","type":"api-current-state","z":"70785444.fe13fc","name":"Mister State","server":"9ed5edf2.e5f5b","halt_if":"","override_payload":true,"entity_id":"input_boolean.cool_patio","x":330,"y":200,"wires":[["260872bd.98c79e"]]},{"id":"455f7c8a.4a8d24","type":"switch","z":"4b116a75.ddd814","name":"Is Enabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":40,"wires":[["bec6d51f.3e22d8"],["8612d35b.fedf8"]]},{"id":"e1cb880c.ebf1b8","type":"server-state-changed","z":"70785444.fe13fc","name":"Patio Cooling Enabled","server":"9ed5edf2.e5f5b","entityidfilter":"input_boolean.cool_patio","entityidfiltertype":"substring","haltifstate":"","x":180,"y":120,"wires":[["e0bc45a2.9aa3f8"]]},{"id":"bc6f2cb3.07a0e","type":"change","z":"4b116a75.ddd814","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"period","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":300,"wires":[["b325017c.a9ad6"]]},{"id":"7d3aef88.22846","type":"function","z":"4b116a75.ddd814","name":"Update Duty Slider","func":"var delay = parseFloat(msg.delay, 10) / 1000\nvar newMsg =  {\n        payload: {\"data\":{\"entity_id\": \"input_number.mister_duty_cycle\", \"value\": delay}}\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":590,"y":520,"wires":[["aaf469fc.ebede8"]]},{"id":"8612d35b.fedf8","type":"change","z":"4b116a75.ddd814","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":120,"wires":[["bfe3aea4.efc29","50810f63.9fa1e"]]},{"id":"260872bd.98c79e","type":"subflow:4b116a75.ddd814","z":"70785444.fe13fc","name":"Patio Duty Cycle","x":310,"y":340,"wires":[["8155e8ba.63dec8"],["93710ff7.05e4b"],["e0bc45a2.9aa3f8"],["93710ff7.05e4b"]]},{"id":"3a0ac79f.baeba8","type":"api-call-service","z":"70785444.fe13fc","name":"Turn Off Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":710,"y":840,"wires":[[]]},{"id":"e359ef17.b7799","type":"api-call-service","z":"70785444.fe13fc","name":"Turn On Watering","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.deck_mister_manual_watering\"}","mergecontext":"","x":710,"y":740,"wires":[[]]},{"id":"1962c49.50e8c3b","type":"api-current-state","z":"70785444.fe13fc","name":"Mister State","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.cool_deck","x":330,"y":640,"wires":[["71e2afe3.03263"]]},{"id":"85c7a526.350448","type":"server-state-changed","z":"70785444.fe13fc","name":"Deck Cooling Enabled","server":"9ed5edf2.e5f5b","entityidfilter":"input_boolean.cool_deck","entityidfiltertype":"substring","haltifstate":"","x":180,"y":560,"wires":[["1962c49.50e8c3b"]]},{"id":"71e2afe3.03263","type":"subflow:4b116a75.ddd814","z":"70785444.fe13fc","name":"Deck Duty Cycle","x":310,"y":780,"wires":[["e359ef17.b7799"],["3a0ac79f.baeba8"],["1962c49.50e8c3b"],["3a0ac79f.baeba8"]]},{"id":"aaf469fc.ebede8","type":"api-call-service","z":"4b116a75.ddd814","name":"Set Duty Cycle","server":"9ed5edf2.e5f5b","service_domain":"input_number","service":"set_value","data":"","mergecontext":"","x":860,"y":520,"wires":[[]]},{"id":"39f18bd4.9ff344","type":"api-current-state","z":"d4d43748.10acd8","name":"Rain Intensity","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":false,"override_payload":true,"entity_id":"sensor.dark_sky_precip_intensity","x":480,"y":80,"wires":[["b8781b93.7c2cd8"]]},{"id":"6766c983.a8f018","type":"smooth","z":"d4d43748.10acd8","name":"","property":"payload","action":"mean","count":"60","round":"","mult":"single","x":880,"y":80,"wires":[["9d83b0b4.909e1"]]},{"id":"b8781b93.7c2cd8","type":"json","z":"d4d43748.10acd8","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":80,"wires":[["6766c983.a8f018"]]},{"id":"9d83b0b4.909e1","type":"switch","z":"d4d43748.10acd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0.1","vt":"num"},{"t":"gte","v":"0.1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":300,"wires":[["f408e2d4.94fb1"],["8c26e3d9.88799"]]},{"id":"8c26e3d9.88799","type":"change","z":"d4d43748.10acd8","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["22a74263.41e16e"]]},{"id":"f408e2d4.94fb1","type":"change","z":"d4d43748.10acd8","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["22a74263.41e16e"]]},{"id":"59af2de.b84b5d4","type":"catch","z":"cfb92eb0.46fcf","name":"","scope":["2fba8bb5.d32c64"],"x":510,"y":400,"wires":[["43ff8c15.d04634"]]},{"id":"43ff8c15.d04634","type":"delay","z":"cfb92eb0.46fcf","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":400,"wires":[["2fba8bb5.d32c64","461cb2b5.eda55c"]]},{"id":"1e010884.75fcd7","type":"catch","z":"6de8523a.69217c","name":"","scope":["b95b2fe5.23ff6"],"x":690,"y":440,"wires":[["e0b469e2.9f1908"]]},{"id":"e0b469e2.9f1908","type":"delay","z":"6de8523a.69217c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":440,"wires":[["b95b2fe5.23ff6","e3269d3d.ebdba"]]},{"id":"22a74263.41e16e","type":"traffic","z":"d4d43748.10acd8","name":"Weather Condition Enabled?","property_allow":"payload","filter_allow":"on","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"off","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":820,"y":340,"wires":[[]]},{"id":"cecf8196.9edc","type":"inject","z":"d4d43748.10acd8","name":"Rain Monitor","topic":"monitor","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"2.0","x":260,"y":80,"wires":[["39f18bd4.9ff344"]]},{"id":"461cb2b5.eda55c","type":"api-call-service","z":"cfb92eb0.46fcf","name":"Notify Of Failure","server":"9ed5edf2.e5f5b","service_domain":"notify","service":"ios_devins_iphone","data":"{\"title\": \"Watering Skipped\", \"message\": \"Sufficient rain present. Skipping Garden Cycle.\"}","mergecontext":"","x":1040,"y":420,"wires":[[]]},{"id":"e3269d3d.ebdba","type":"api-call-service","z":"6de8523a.69217c","name":"Notify Of Failure","server":"9ed5edf2.e5f5b","service_domain":"notify","service":"ios_devins_iphone","data":"{\"title\": \"Watering Failure\", \"message\": \"Failed to turn off Garden!\"}","mergecontext":"","x":1180,"y":440,"wires":[[]]},{"id":"15d2f318.5fc7bd","type":"api-call-service","z":"cfb92eb0.46fcf","name":"Skipped Cycle Notification","server":"9ed5edf2.e5f5b","service_domain":"notify","service":"ios_devins_iphone","data":"{\"title\": \"Herb Watering\"}","mergecontext":"","x":1000,"y":580,"wires":[["882955e2.068008"]]},{"id":"67358f1a.d13e8","type":"time-range-switch","z":"cfb92eb0.46fcf","name":"Night vs Day","lat":"36.03468","lon":"-80.39865","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":630,"y":580,"wires":[["d83573dd.ae0d1","15d2f318.5fc7bd"],["d83573dd.ae0d1"]]},{"id":"b1ec864a.91cb78","type":"change","z":"cfb92eb0.46fcf","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Sufficient rain present. Skipping potted plant cycle.\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["67358f1a.d13e8"]]},{"id":"5c4942ef.3a500c","type":"change","z":"cfb92eb0.46fcf","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Running potted plant cycle.\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":520,"wires":[["67358f1a.d13e8"]]},{"id":"d83573dd.ae0d1","type":"rbe","z":"cfb92eb0.46fcf","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":790,"y":640,"wires":[[]]},{"id":"9ac3ae14.429c2","type":"inject","z":"cfb92eb0.46fcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":580,"wires":[["b1ec864a.91cb78"]]},{"id":"882955e2.068008","type":"debug","z":"cfb92eb0.46fcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":520,"wires":[]},{"id":"899df788.7079b8","type":"inject","z":"cfb92eb0.46fcf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["5c4942ef.3a500c"]]},{"id":"a715c42d.24c278","type":"api-call-service","z":"6de8523a.69217c","name":"Skipped Cycle Notification","server":"9ed5edf2.e5f5b","service_domain":"notify","service":"ios_devins_iphone","data":"{\"title\": \"Garden Watering\"}","mergecontext":"","x":1380,"y":660,"wires":[["87aa6f33.3b52e"]]},{"id":"2119097d.3a3c76","type":"time-range-switch","z":"6de8523a.69217c","name":"Night vs Day","lat":"36.03468","lon":"-80.39865","startTime":"06:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":1010,"y":660,"wires":[["a715c42d.24c278"],["315fe9a4.a7b746"]]},{"id":"54066fd.ed9159","type":"change","z":"6de8523a.69217c","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Sufficient rain present. Skipping garden cycle.\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":660,"wires":[["2119097d.3a3c76"]]},{"id":"fb63b9d0.1c5f18","type":"change","z":"6de8523a.69217c","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Running garden cycle.\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":600,"wires":[["2119097d.3a3c76"]]},{"id":"315fe9a4.a7b746","type":"rbe","z":"6de8523a.69217c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1170,"y":720,"wires":[["a715c42d.24c278"]]},{"id":"73bac287.c249bc","type":"inject","z":"6de8523a.69217c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":660,"wires":[["54066fd.ed9159"]]},{"id":"87aa6f33.3b52e","type":"debug","z":"6de8523a.69217c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1650,"y":600,"wires":[]},{"id":"201cb814.913738","type":"inject","z":"6de8523a.69217c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":600,"wires":[["fb63b9d0.1c5f18"]]},{"id":"2f51badd.088816","type":"bigtimer","z":"1856a90e.a14b57","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","lat":"36.0347","lon":"-80.3986","starttime":"5004","endtime":1425,"startoff":0,"endoff":0,"offs":0,"outtext1":"On","outtext2":"Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":340,"y":220,"wires":[[],[],["47b06fd5.5ab7"]]},{"id":"47b06fd5.5ab7","type":"switch","z":"1856a90e.a14b57","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":180,"wires":[["270508c4.dc8058"],["f93aea19.4235c8"]]},{"id":"ec2b0506.e02f98","type":"debug","z":"1856a90e.a14b57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":200,"wires":[]},{"id":"52d4c988.62c9b8","type":"inject","z":"1856a90e.a14b57","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["d7e33fd0.d8e03"]]},{"id":"d7e33fd0.d8e03","type":"change","z":"1856a90e.a14b57","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["2f51badd.088816"]]},{"id":"47d985bb.001d1c","type":"api-current-state","z":"2e5b6856.09a798","name":"Light Transition Period","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":false,"entity_id":"input_number.light_transition_period","x":500,"y":280,"wires":[["95064f61.e40ce"]]},{"id":"2c29a53e.a985fa","type":"delay","z":"2e5b6856.09a798","name":"Repeat After Period","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1650,"y":200,"wires":[["e1282806.ab3e48"]]},{"id":"95064f61.e40ce","type":"function","z":"2e5b6856.09a798","name":"Duty Period","func":"let num_adjustments = 25.05;\nlet period = parseFloat(msg.payload, 10) * 60.0;\nlet period_milli = period * 100.00;\nmsg.delay = period_milli.toString() / num_adjustments;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["9c498917.37eef8"]]},{"id":"79d58227.a25c9c","type":"switch","z":"2e5b6856.09a798","name":"Is Enabled","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":100,"wires":[["47d985bb.001d1c"],["b8baa8b8.fc9278"]]},{"id":"b8baa8b8.fc9278","type":"change","z":"2e5b6856.09a798","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":60,"wires":[["2c29a53e.a985fa","37bd96e7.4ae0aa"]]},{"id":"9c498917.37eef8","type":"counter","z":"2e5b6856.09a798","name":"Ramp up Value","init":"0","step":"1","lower":"0","upper":"255","mode":"increment","outputs":"1","x":960,"y":280,"wires":[["6c07141f.dc128c","707e75fc.5a9d7c"]]},{"id":"6c07141f.dc128c","type":"switch","z":"2e5b6856.09a798","name":"Less than 100%","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"255","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":280,"wires":[["2c29a53e.a985fa"],["3ab56b20.0ece34","37bd96e7.4ae0aa"]]},{"id":"5d3bbee2.4492e","type":"api-call-service","z":"2e5b6856.09a798","name":"","server":"9ed5edf2.e5f5b","service_domain":"light","service":"turn_on","data":"","mergecontext":"","x":1350,"y":500,"wires":[["6048afdc.d4d5a"]]},{"id":"2679d3e.ebf472c","type":"server-state-changed","z":"2e5b6856.09a798","name":"","server":"9ed5edf2.e5f5b","entityidfilter":"input_boolean.ramp_lights","entityidfiltertype":"substring","haltifstate":"","x":320,"y":100,"wires":[["e1282806.ab3e48"]]},{"id":"9f70c13b.bb8a8","type":"server-state-changed","z":"2e5b6856.09a798","name":"Current Light Status","server":"9ed5edf2.e5f5b","entityidfilter":"light.bedroom_light","entityidfiltertype":"substring","haltifstate":"","x":350,"y":40,"wires":[["a1907ef3.f4027"]]},{"id":"a1907ef3.f4027","type":"switch","z":"2e5b6856.09a798","name":"Turned Off Light?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":40,"wires":[["b8baa8b8.fc9278"]]},{"id":"3ab56b20.0ece34","type":"interval-length","z":"2e5b6856.09a798","format":"human","bytopic":false,"minimum":"","maximum":"","window":"","timeout":false,"msgTimeout":"","minimumunit":"msecs","maximumunit":"msecs","windowunit":"msecs","msgTimeoutUnit":"msecs","startup":false,"msgField":"payload","repeatTimeout":false,"name":"","x":1480,"y":420,"wires":[[],[]]},{"id":"6048afdc.d4d5a","type":"debug","z":"2e5b6856.09a798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1690,"y":460,"wires":[]},{"id":"37bd96e7.4ae0aa","type":"api-call-service","z":"2e5b6856.09a798","name":"End Ramp Lights","server":"9ed5edf2.e5f5b","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\": \"input_boolean.ramp_lights\"}","mergecontext":"","x":1590,"y":280,"wires":[[]]},{"id":"e1282806.ab3e48","type":"api-current-state","z":"2e5b6856.09a798","name":"Ramp Lights Input","server":"9ed5edf2.e5f5b","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_boolean.ramp_lights","x":710,"y":100,"wires":[["79d58227.a25c9c"]]},{"id":"655fd747.d032d8","type":"inject","z":"cfb92eb0.46fcf","name":"Watering Event 5 am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":120,"y":20,"wires":[["39001018.0cd22"]]},{"id":"707e75fc.5a9d7c","type":"function","z":"2e5b6856.09a798","name":"Duty Period","func":"let brightness = msg.count;\nreturn {\"payload\": {\"data\": {\"brightness\": brightness, \"entity_id\": \"light.bedroom_light\"}}};\n//return msg;","outputs":1,"noerr":0,"x":1050,"y":460,"wires":[["5d3bbee2.4492e"]]},{"id":"f93aea19.4235c8","type":"api-call-service","z":"1856a90e.a14b57","name":"Turn off Patio Lights","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.patio_lights\"}","mergecontext":"","x":820,"y":240,"wires":[["ec2b0506.e02f98"]]},{"id":"270508c4.dc8058","type":"api-call-service","z":"1856a90e.a14b57","name":"Turn on Patio Lights","server":"9ed5edf2.e5f5b","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.patio_lights\"}","mergecontext":"","x":820,"y":140,"wires":[["ec2b0506.e02f98"]]},{"id":"6273ac38.14f134","type":"inject","z":"1856a90e.a14b57","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["fd17b8d9.5d1bf8"]]},{"id":"fd17b8d9.5d1bf8","type":"change","z":"1856a90e.a14b57","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":360,"wires":[["2f51badd.088816"]]}]